.process{
    /* margin-top: 5rem; */
    margin: 4rem 6rem 0 6rem;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.images{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.out-para{
        font-size: 15px;
        margin: 0 50px;
        color: #848484;
        font-family: 'Open Sans';
        padding: 30px 30px 0 30px;
        text-align: center;
}
