.process{
    /* margin-top: 5rem; */
/* <<<<<<< HEAD
    margin: 4rem 6rem 0rem 6rem; */
/* ======= */
    margin: 4rem 6rem 0 6rem;
/* >>>>>>> c39542605ec37b5537187a04ddc3ddffce88c944 */
    align-content: center;
    text-align: center;
    justify-content: center;
}
.images{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.out-para{
        font-size: 15px;
        margin: 0 50px;
        color: #848484;
        font-family: 'Open Sans';
        padding: 30px 30px 0 30px;
        text-align: center;
}
