.get-touch{
    margin-top: 5rem;
    background-color: #f4fffb;
    padding: 4rem;
    text-align: center;
}

.get-touch h4{
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    
}
.get-touch button{
    padding: 12px;
    border: none;
    background-color: #2d4048;
    cursor: pointer;
    border-radius: 7px;
    font-size: 16px;
    margin-top: 30px;

}

.get-touch button a{
    
    color: white;
    cursor: pointer;
    font-weight: 600;
   font-family: 'Nunito', sans-serif;
}
.get-touch button:hover{
        background-color: #dc3545;
    color: white;
}