.get-touch{
    margin-top: 5rem;
    background-color: #f4fffb;
    padding: 4rem;
    text-align: center;
}

.get-touch h4{
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    
}