.contact{
    background-color: #f4fffb;
    margin-top: 15px;
    padding-bottom: 60px;
}
.mt{
    padding-top: 20px;
}
.service-para{
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #2d4048;
}
.contact-info{
    /* padding: 30px; */
    margin: 0  8rem;
    /* width: 50vw; */
    height: 100px; 
    display: flex;
    justify-content: space-between;
}
.contact-icon{
    font-size: 40px;
    color: #2d4048;
}
.contact-info h3{
    padding-bottom: 10px;
}
.contact-info p{
    /* padding-bottom: 5px; */
}
.contact-info a{
    text-decoration: none;
    /* color: #31d095; */
    color: #2d4048;
font-size: 16px;
font-family: 'Open Sans';
}
.tele{
    text-decoration: none;
    color: #fff !important;
    padding-left: 8px;
    letter-spacing: 2px;
}
.btn-primary{
    background-color: #2d4048;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}
 .btn-primary a{
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
   font-family: 'Nunito', sans-serif;
}.btn-primary:hover{
    background-color: #dc3545;
}
.phone-btn{
    display: none;
}
/* css for phone */

@media screen and (max-width:768px) {
    .contact{
        background-color: #f4fffb;
        margin-top: 15px;
        padding-bottom: 60px;
    }
    .contact-info{
        /* padding: 30px; */
        margin: 0  1rem;
        /* width: 50vw; */
        height: 100px; 
        display: flex;
        justify-content: space-between;
    }
    .btn-primary{
        display: none;
    }
    .phone-btn{
        display: block;
        padding: 18px;
        font-size: 20px;
        border: none;
        background-color: #2d4048;
        color: white;
        border-radius: 30px;
    }
    .phone-btn .telep {
        font-size: 20px;
    padding-left: 8px;
    color: #fff !important;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    }
    .service-para{
        text-align: center;
        margin: 1px 0 0 0;
        padding: 0;
        font-size: 28px;
        line-height: 42px;
        font-weight: 700;
        padding-bottom: 20px;
        color: #2d4048;
    }
}