.navbar{
    display: flex;
    justify-content: space-between;
    margin:auto; 
    z-index: 999;
  position: relative;
  padding:0 120px;
  /* transition: 0.7s ;
  transition-delay: 0.2s; */
}
.sticky-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    padding-bottom: 10px;
    transition: 1s ease-in-out;
    offset-inline-start: 100;
    /* transition-delay: 0s; */
    /* transition: top  0.5s; */
  }
  .bg-color{
    background: #fff;
  }

.brand-logo{
    margin-top: 20px;
    display: flex;
    text-align: center;
    
}
.brand-logo img{
    width: 47px;
    height: 47px;
}
.logo-name{
    margin-top: 6px;
    margin-left: 2px;
    cursor: pointer;
}
.logo-name span{
    font-size: 25px;
    font-weight: 800;
    color: #2d4048;
}
.menu-icon{
    display: none;
    margin-left: 150px;
    font-size: 30px;
}
.list{
    display: flex;
    list-style: none;
}

.list-item{
   margin: 0px 20px 0 0;
   font-family: 'Nunito', sans-serif;
   font-size: 16px;
   font-weight: 700;
   margin-top: 29px;
   padding: 10px;
}
.link{
    text-decoration: none;
    color: #2d4048;
    font-weight: 600;

}

.btn{
    background-color: #2d4048;
    border-radius: 7px;
    cursor: pointer;
}
.link button{
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
   font-family: 'Nunito', sans-serif;
}.btn:hover{
    background-color: #dc3545;
}