.main-header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin: 0px 8rem; 
    padding-bottom: 115px;
}
.header-text{
    width: 50vw;
}

.slogan{
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    margin-top: 100px;
    /* text-align: center; */
}
.sub-heading{
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
    margin-top: 15px;
    color: #444444;
}
/* .header-img{
    width: 50vw;
} */
.header-img img{
    width: 570px;
    margin-left: 30px;
}
.btn{
    background-color: #2d4048;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 20px;
    color: #ffffff;
    margin-top: 35px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    border: none;
}
.btn i{
    margin: 5px 0 0 10px;
}